@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: inter;
    src: url(./assets/fonts/Inter-Regular.woff2);
  }
  @font-face {
    font-family: inter-medium;
    src: url(./assets/fonts/Inter-Medium.woff2);
  }
  @font-face {
    font-family: inter-semibold;
    src: url(./assets/fonts/Inter-SemiBold.woff2);
  }
  @font-face {
    font-family: inter-bold;
    src: url(./assets/fonts/Inter-Bold.woff2);
  }

  body {
    @apply font-inter600 remove-scrollbar;
  }
}

@layer utilities {
  .maxW {
    @apply max-w-screen-xl mx-auto;
  }
  .padX {
    @apply px-4 md:px-8 lg:px-12;
  }

  /* Remove scrollbar */
  .remove-scrollbar::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    border-radius: 0px;
  }

  .remove-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .remove-scrollbar::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 0px;
  }

  .remove-scrollbar::-webkit-scrollbar-thumb:hover {
    /* background: #1e2238; */
    background: transparent;
  }
}
